// Define variables for your color scheme

// For example:
$red: #F23D5C;
$blue: #4FA5CD;
$yellow: #FDB631;
$orange: #E67E22;
$green: #45CB99;
$gray: #161616;
$light-gray: #F4F4F4;
// $primary: #140f2d;
// $secondary: #ba1b1d;
// $contrast: #ffba49;
// $blue: #1446a0;
$subtle: #3f88c5;

$primary: #162B3A;
$secondary: #151F3F;
$contrast:#F2F3DA;
$salmon: #DB9E84;
$rose-gold:#F03A47;
$pale-yellow: #FEE04A;



$white: #F4F4F4;
