// General:

h1 {
  font-size: 64px;
}

h2 {
  font-weight: 100;
}

p {
  font-size: 22px;
}

// Banner:

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Search-bar:

.aa-input-container {
  display: inline-block;
  position: relative;
}

.aa-input-search {
  width: 300px;
  // border: 1px solid black;
  border-radius: 4px;
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
    .aa-input-icon {
      height: 16px;
      width: 16px;
      position: absolute;
      top: 50%;
      right: 16px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      fill: black;
    }

    .aa-dropdown-menu {
      background-color: black;
      min-width: 300px;
      margin-top: 10px;
      box-sizing: border-box;
      opacity: 0.7;
    }

    .aa-suggestion {
      padding: 12px;
      cursor: pointer;
    }

    #aa-search-input {
      color: black;
    }

    .aa-suggestion + .aa-suggestion {
      border-top: 1px solid white;
    }
    .aa-suggestion:hover, .aa-suggestion.aa-cursor {
      background-color: white;
      color: black; }


// Sections:

.description-feature-1 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.description-feature-2 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.description-feature-3 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.algolia-autocomplete {
  a {
    color: $light-gray;
    text-decoration: none;
  }
}

.algolia-autocomplete :hover {
  color: black !important;
}

// Mobile-responsive:

@media (max-width: 450px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 12px;
  }
}
