.container {
  margin-top: 115px;
}

h1 {
  font-size: 66px;
}

p {
  font-size: 22px;
}

.banner {
  color: $light-gray;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: $light-gray;
  opacity: 0.6;
  margin-bottom: 30px;
}

// Search bar:

.aa-input-container {
  display: inline-block;
  position: relative;
}

.aa-input-search {
  width: 300px;
  border: 1px solid $gray;
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: $gray;
}

.aa-dropdown-menu {
  background-color: $yellow;
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box;
  opacity: 0.7;
}

.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}

#aa-search-input {
  color: $gray;
}

.aa-suggestion + .aa-suggestion {
    border-top: 1px solid $gray;
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: $gray; }


// Sections:

.description-feature-1 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.description-feature-2 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.description-feature-3 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100vh;
}
