<div class="container">
<div class="dashboard">
  <div class="grid profile-author">
    Profile goes here
  </div>
  <div class="grid averages">
    Averages
  </div>
  <div class="grid best-sellers">
    best-sellers
  </div>
  <div class="grid reviews">
    reviews
  </div>
  <div class="grid my-books">
   <%=  render 'shared/cards' %>
  </div>
</div>
</div>
