
<div class="showpage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
  <h1>WHUT</h1>
  <% @transactions.each do |transaction| %>
    <%= transaction.book.cover_pic %>
    <% end %>
</div>

