
<div class="showpage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
  <h1><%= current_registration.username %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @transactions.each do |transaction| %>
        <%= transaction.book transaction.chapter %>
      <% end %>
