<div class="row">
<div class="col-xs-12">
  <h1>Your collection</h1>
</div></div>

<div>
  <% @my_genres.each do |genre| %>
    <h3><%= genre %></h3>
    <% @books = [] %>
    <% @my_books.each do |book| %>
      <% if book.genre == genre %>
        <% @books << book %>
      <% end %>
    <% end %>
    <%= render 'shared/cards' %>
    <% @suggestions = Book.all.where(genre: genre).sample(5) - @my_books %>
    <%= render 'shared/suggestion_cards' %>
  <% end %>
</div>

