.superbox-markdown {
  max-width: 22%;
  height: 80vh;
  color: $primary;
  overflow: scroll;
  background-color: $contrast;
  position: absolute;
  border-radius: 5px;
  top: 9%;
  .explanation {
    background-color: white;
    color: $primary
  }
  .example {
    background-color: $light-gray;
    color: $primary;
    font-family: 'Crimson Text', serif;
    h1,
    h2,
    strong {
      margin-top: 1em;
      padding-top: 1em;
      color: $primary;
      text-align: center
    }
    p {
      line-height: 1.5;
      padding: 1em 2em;
      color: $secondary;
      text-align: justify;
      text-justify: auto;
    }
  }
}

.form-create {
  max-width: 50% !important;
  min-width: 0px !important;
}

.left {
  left: 10px;
}


.right {
  right: 10px;
}

@media only screen and (max-width: 500px) {
  .superbox-markdown {
    display: none;
  }
  .form-create{
    max-width: 97% !important;
  }
}
