.book {
  min-width: 50%;
  max-width: 40em;
  overflow: scroll;
  background-color: $light-gray;
  height: 80vh;
  border-radius: 5px;
  font-family: 'Crimson Text', serif;
  h1,
  h2,
  strong {
    margin-top: 1em;
    padding-top: 1em;
    color: $primary;
    text-align: center
  }
  p {
    line-height: 1.5;
    padding: 1em 2em;
    color: $secondary;
    text-align: justify;
    text-justify: auto;
    hyphens:auto;
  }
}

.overflow {
  overflow:scroll;
}

 @media only screen and (max-width: 500px) {
  .book {
    h1 {
      font-size: 20px;
    }
    p{
      font-size: 15px;
      hyphens:auto;
    }
  }
 }

.padding-top-90 {
  padding-top: 90px;
}

.padding-top-60 {
  padding-top: 60px;
}

.margin-top-90 {
  margin-top: 90px;
}


.justify-left {
  justify-content: left;
}

.margin-overall {
  margin: 20px 10px;
}

.sharers {
  display: flex;
}

// .flex-column {
//   display: flex;
//   flex-direction: column;
// }
