
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Filter
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
  </div>
  <div>
    Genre
    <%= f.select(
      :with_genre,
      @filterrific.select_options[:with_genre],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
<% end %>

<div id="filterrific_results">
<%= render(
  partial: 'shared/cards',
  locals: { books: @books }
) %>
</div>

