
<div id="review-modal" class="modal fade padding-top-90" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a review</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div style="margin-left: 15px; margin-right: 15px;">
            <div class="row">
              <div id="review-form" style="margin: 0px 10px">
                <h2>Add a review</h2>
                <%= simple_form_for [@book, @review] do |f| %>
                <%= f.input :rating, collection: (0..5) %>
                <%= f.input :content %>
                <%= f.submit "Submit your review", class: "btn btn-danger"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
