<div id="search-whitespace"></div>

<div class="search-flexbox">
  <div class="search-flexitem"> <%= render 'shared/filters' %> </div>
  <div class="search-flexbody"> <%= render 'shared/cards' %> </div>
</div>

