<div id="search-whitespace"></div>

<div class="search-flexbox">
  <div class="search-flexitem"> <%= render 'shared/filters' %> </div>
  <div class="search-flexbody">

      <div class="aa-input-container search-searchbar" id="aa-input-container">
        <form action="/books/search" method="get">
        <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search for books..." name="query" autocomplete="on"  value="<%= @query %>">
        </form>
      </div>
    <div class="container">
    <%= render 'shared/cards' %>
    </div>

  </div>
</div>

