<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <% @book.reviews.each do |review| %>
        <div class= "review-box">
          <p id="username"> <%= review.user.username %> </p>
          <div class="rating">
            <% 5.times do |counter|%>
              <% if review.rating <= counter %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <p id="content-box"><%= review.content %></p>
        </div>
        <% end %>

      <%= render 'reviews/form' %>
      </div>
    </div>
  </div>
</div>

