<div class="darken">
  <div class="container margin-top-90 book form-create">
    <%= render 'form' %>
  </div>
   <div class="superbox-markdown left">
    <h2>Toolkit (emphasis)</h2>
    <div class="explanation">
      <em>Italic</em>
      <p>Type: *this* in the content box</p>
    </div>
    <div class="example">
      <p>To get: <em>this</em> in the final display</p>
    </div>
  <div class="explanation">
      <strong>Bold</strong>
      <p>Type: **this** in the content box</p>
    </div>
    <div class="example">
      <p>To get: <strong>this</strong> in the final display</p>
    </div>
  <div class="explanation">
      <u>Underscore</u>
      <p>Type: _this_ in the content box</p>
    </div>
    <div class="example">
      <p>To get: <u>this</u> in the final display</p>
    </div>
  <div class="explanation">
      <p>Combination</p>
      <p>Type: *Also*_In_**Same**Word in the content box</p>
    </div>
    <div class="example">
      <p>To get: <em>Also</em><u>In</u><strong>Same</strong>Word in the final display</p>
    </div>

  </div>
  <div class="superbox-markdown right">
    <h2>Toolkit (Separations)</h2>
    <div class="explanation">
      <h2>Subtitles</h2>
      <p>Type: ## In the cavern</p>
    </div>
    <div class="example">
      <p>To get: <h2>In the cavern</h2> in the final display</p>
    </div>
    <div class="explanation">
      <h3>Subtitles - 2</h3>
      <p>Type: ### In the cavern</p>
    </div>
    <div class="example">
      <p>To get: <h3>In the cavern</h3> in the final display</p>
    </div>
    <div class="explanation">
      <o>Quotes</p>
      <p>Type: > In the cavern</p>
    </div>
    <div class="example">
      <p>To get: <blockquote><p>In the cavern</p></blockquote> in the final display</p>
    </div>
    <div class="explanation">
      <h2>Quotes in quotes</h2>
      <p>Type:</p>
      <p> > level one </p>
      <p> > > Level two </p>
       <p> > > > Level three </p>
    </div>
    <div class="example">
      <p>To get:<blockquote><p>
          Level one
            </p>
            <blockquote><p>
              Level two
              </p>
              <blockquote><p>
                Level three
                </p>
              </blockquote>
            </blockquote>
          </blockquote> in the final display</p>
    </div>


  </div>


<!--             <p>## Title</p>
            <h2>Title</h2>
          </li>
          <li>
            <p>### Title</p>
            <h3>Title</h3>
          </li>
          <li>
          <p> > Lorem ipsum dolor sit amet</p>
          <blockquote>
            <p> Lorem ipsum dolor sit amet</p>
            </blockquote>
          </li>
          <li>
          <p> > level one </p>
          <p> > > Level two </p>
          <p> > > > Level three </p>
          <blockquote><p>
          Level one
            </p>
            <blockquote><p>
              Level two
              </p>
              <blockquote><p>
                Level three
                </p>
              </blockquote>
            </blockquote>
          </blockquote>
          </li>
        </ul>
      </li>
      <li>
    </ul> - -->
  </div>
</div>

