<div class="darken">
  <div class="container margin-top-90 book">
    <h1> <%= @episode.title %> </h1>
    <p> <%= @converted %> </p>
  </div>
  <div class="margin-top-90 instructions">

  </div>
  </div>
</div>
