  <div class="heading-team">
      <div class="title">
        <div>OUR TEAM</div>
        <div class="subtitle">THE PEOPLE BEHIND CHAPTER</div>
      </div>
    </div>


  <div class="container">



    <div class="padded text-center">
      <div class="about-info-team">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('http://res.cloudinary.com/dpqd2snsv/image/upload/v1511431747/pablo_wp3kfk.png');"></div>
            <p>Pablo Curell Mompo</p>
            <a class= "linkedin" href="https://www.linkedin.com/in/pablocm90" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/pablocm90" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">Chapter inventor. Back-end mastermind and team lead. Loves basket and shawarma. </p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('http://res.cloudinary.com/dpqd2snsv/image/upload/v1511431744/karel_z52rkk.png');"></div>
            <p>Karel Verhaeghe</p>
            <a class= "linkedin" href="https://www.linkedin.com/in/karel-verhaeghe-59106344/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/KarelVerhaeghe" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">Back-end geek. Prefers complex coding problems. Loves to laugh and drink a good tripel. </p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('http://res.cloudinary.com/dpqd2snsv/image/upload/v1511431744/yoshi_s1el6p.png');"></div>
            <p>Yoshi Van Roeyen</p>
            <a class= "linkedin" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/Yoshivanroeyen" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">An all-round problem-solver. Loves earning money with gaming and spending it on beers. </p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('http://res.cloudinary.com/dpqd2snsv/image/upload/v1511431744/lynn_r8v7eh.png');"></div>
            <p>Lynn Vanderhallen</p>
            <a class= "linkedin" href="https://www.linkedin.com/in/lynnvanderhallen/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/lynnvanderhallen" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">A front-end hero. Great at making things a delight for our users' eye. Loves guns and dangerous sports. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
