  <div class="heading-team">
      <div class="title">
        <div>OUR TEAM</div>
        <div class="subtitle">THE PEOPLE BEHIND CHAPTER</div>
      </div>
    </div>


  <div class="container">



    <div class="padded text-center">
      <div class="about-info-team">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('https://avatars3.githubusercontent.com/u/24973905?s=400&v=4');"></div>
            <p>Pablo Curell Mompo</p>
            <a class= "linkedin" href="https://www.linkedin.com/in/pablocm90" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/pablocm90" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('https://avatars2.githubusercontent.com/u/16519293?s=400&v=4');"></div>
            <p>Karel Verhaege</p>
            <a class= "linkedin" href="https://www.linkedin.com/in/karel-verhaeghe-59106344/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/KarelVerhaeghe" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('https://avatars3.githubusercontent.com/u/28579001?s=400&v=4');"></div>
            <p>Yoshi Van Roeyen</p>
            <a class= "linkedin" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/Yoshivanroeyen" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="about-team-picture avatar-large" style="background-image: url('https://avatars1.githubusercontent.com/u/22871877?s=460&v=4');"></div>
            <p>Lynn Vanderhallen</p>
            <a class= "linkedin" href="https://www.linkedin.com/in/lynnvanderhallen/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class= "github" href="https://github.com/lynnvanderhallen" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <p id="under-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
