<body class="black">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
       <div class="form-post" style="margin-top: 90px";>
        <h2>Create a new book</h2>
        <%= render 'new_book' %>
      </div>
    </div>
  </div>
</div>
</body>

