
<div class="showpage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
  <h1><%= @book.title %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="showpage-card text-center">
          <ul class="nav nav-tabs" role="tablist">
            <div class="slider"></div>
            <li role="presentation " class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
            <li role="presentation"><a href="#chapters" aria-controls="chapters" role="tab" data-toggle="tab">Chapters</a></li>
            <li role="presentation" class=""><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">Info</div>
            <div role="tabpanel" class="tab-pane" id="chapters">Chapters</div>
            <div role="tabpanel" class="tab-pane" id="reviews">Reviews</div>
          </div>


      </div>
    </div>
  </div>
</div>

