#search-whitespace {
  padding-top: 80px;
}

.search-flexbox {
  display: flex;
  justify-content: space-between;
}

.search-flexitem {
  flex: 0 0 140px;
  width: 140px;
}

.search-flexbody {
  flex: 1 0 auto;
}

.search-flexitem {
  #aa-search-input {
    width: 140px;
    margin-left: 10px;
  }
}

.aa-input-container {

  margin-top: 10px;
  margin-bottom: 18px;
}

