/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: white;
  margin-bottom:0px;
      position: absolute;
    left: 0;
    right: 0;
    top: 70px;


}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
