#showpage-header {
  margin-top: 70px;
}

.showpage-card {
  min-height: 450px;
  max-height: 450px;
  max-width: 750px;
  min-width: 350px;
  background-size: cover !important;
  background-position: center;
  background-color: white;
  position: relative;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.4);
  overflow: scroll;
}

.showpage-banner {
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom:0;
}

.showpage-banner h1 {
  font-size: 35px;
  color: white;
}

.showpage-info {
  position: relative;
  padding-top: 30px;
  font-size: 15px;
  color:#999999;
}

.showpage-card p {
  padding: 5px 20px;
  margin: 0;
}

.tab-pane {
  padding:15px;
  height:300px;
}

.nav-tabs {
  display:flex;
  justify-content: center;
  border:none!important;
  background-color:#fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  align-items: center;
}

.showpage-card ul {
  padding-left: 0px;
}

.nav-tabs li a {
  position:relative;
  margin-right:0px!important;
  padding: 18px !important;
  font-size:16px;
  border:none!important;
  color:#333;
}

.nav-tabs a:hover {
  background-color:#fff!important;
  border:none;
}

.slider {
  display:inline-block;
  width:30px;
  height:3px;
  background-color:red;
  position:absolute;
  z-index:1200;
  // bottom:0;
  transition:all .4s linear;
  top: 55px;

}

.nav-tabs .active a {
  background-color:transparent!important;
  border:none!important;
  color: #162B3A!important;
}
.chapter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.extra-info {
  display: flex;
  justify-content: space-around;
}

.chapter-title {
  padding-bottom: 20px;
  text-align: center;
}

.modal {
  z-index: 1300;
}

#book-show-header {
  margin-top: 50px;
}

#back-btn {
  padding-left: 22px;
}

#buy-btn {
  margin-top: 20px;
  margin-left: 18px;
}

#book-show-title h1 {
  text-align: center;
}
