.navbar-fixed-left {
  width: 140px;
  position: fixed;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  color: white;
  z-index: 99;
  border: none;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
  margin-right: 10px;
}


#headingOne, #headingTwo {
  a {
      transition: color 0.3s ease;
      font-weight: lighter !important;
      color: white !important;
      font-weight: bold;
      font-size: 15px !important;
      padding: 10px 20px;

    }

  a:-webkit-any-link {
    cursor: auto;
    text-decoration: none;
    text-shadow: none;

  }
}

#accordion {
  .card {
    min-height: 40px;
    margin-bottom: 5px;
    margin-top: 12px;
  }
}

#collapseOne, #collapseTwo {
  input {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.0);
    font-weight: lighter !important;
    color: white !important;
    font-size: 15px !important;
    padding: 10px 20px;
    word-wrap: break-word;
  }
}

.card-body {
  input {
    margin-left: 18px;
  }
}
