@media(min-width: 720px) {
  .dashboard {
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 45% 1fr;
  }

  .dashboard-picture {
    grid-row: 1 / span 1;
  }

  .author-box {
    grid-row: 2 / span 1;
  }

  .best-sellers {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }
}

@media(max-width: 720px) {

  .dashboard {
    grid-teplate-columns: 35% 65%;
    grid-template-rows: 40% 60%;

    /* re-define your grid for mobile and tablet */
  }
  .dashboard-picture {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .author-box {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
  .best-sellers {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }
}

.blue-dashboard {
  background-color: #162B3A;
}

.edit-btn {
  margin-bottom:10px;
}

.author-ndp {
  margin-bottom:30px;
}

.btn-inverted {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: lighter;
}

.btn-inverted:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white;
}



.dashboard {
  height: 500px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 120px;
  margin-bottom: 30px;

  .profile-author {
    text-align: center;
  }

.dashboard-flex {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-picture {
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

}

.avatar-dashboard {

  }

#edit-btn {
  margin-top: 7px;
}

  .best-sellers {
    #reviews {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .reviews {
    position: relative;
  }
  .averages {
    div{
      margin-bottom: 40px;
      margin-top: 15px;
    }
  }
  .grid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    border-radius: 5px;
    overflow: scroll;
    &:hover {
      box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  hr {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #grid-title {
    margin-bottom: 50px;
  }
  p {
    margin-top: 10px;
    font-size: 15px;
  }
}

#chart-1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

#chart-2 {
  margin: 10px auto;
}


#author-description {
  padding: 20px;
  hyphens:auto;
}

#dropdownMenuButton {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid $primary;
}

#book-dropdown {
  .dropdown-menu {
    input {
      border: 0px;
      background-color: none;
      font-weight: lighter !important;
      color: black !important;
      font-size: 15px !important;
      padding: 10px 20px;
    }
  }
}

#money {
  padding-top: 20px;
  padding-left: 32px;
  hr {
    border-top: 1px solid $light-gray;
    width: 75%;
    border-style: inset;
  }
}


.review-box {
  padding-top: 24px;
  padding-bottom: 0px;
  #dashboard-reviews {
    p {
      font-size: 15px;
    }
    i {
      font-size: 15px;
    }
  }
  p {
    font-size: 22px;
  }
}


