.dashboard {
  height: 500px;
  display: grid;
  grid-template-columns: 33% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 50px 0;

  .profile-author {
    grid-row: 1 / span 2;
    text-align: center;
    .avatar-big {
      margin-top: 40px
    }
  }

  .reviews {
    position: relative;
  }
  .averages {
    div{
      margin-bottom: 40px;
      margin-top: 15px;
    }
  }
  .my-books {
    grid-column: 2 / span 3;
    grid-row: 2;
  }
  .grid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    border-radius: 5px;
    overflow: scroll;
    &:hover {
      box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  hr {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #grid-title {
    margin-bottom: 50px;
  }
  p {
    margin-top: 10px;
  }
}


#chart-1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

#chart-2 {
  margin: 10px auto;
}


