.blue-dashboard {
  background-color: #162B3A;
}

.btn-danger {
  background-color: #162B3A;
  border: none;
}

.dashboard {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 120px;
  margin-bottom: 30px;

  .profile-author {
    grid-row: 1 / span 3;
    text-align: center;
    .avatar-big {
      margin-top: 40px;
    }
  }
  .best-sellers {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    #reviews {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .dashboard-title h1 {
    color: white !important;
  }

  .reviews {
    position: relative;
  }
  .averages {
    div{
      margin-bottom: 40px;
      margin-top: 15px;
    }
  }
  .grid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    border-radius: 5px;
    overflow: scroll;
    &:hover {
      box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  hr {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  #grid-title {
    margin-bottom: 50px;
  }
  p {
    margin-top: 10px;
    font-size: 15px;
  }
}

#chart-1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

#chart-2 {
  margin: 10px auto;
}

#dashboard-picture {
  img {
    height: 150px;
    width: 150px;
    size: cover !important;
    border-radius: 50%;
    margin: 20px 0;
  }
}

#author-description {
  padding: 20px;
}

#dropdownMenuButton {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid $primary;
}

#book-dropdown {
  .dropdown-menu {
    input {
      border: 0px;
      background-color: none;
      font-weight: lighter !important;
      color: black !important;
      font-size: 15px !important;
      padding: 10px 20px;
    }
  }
}

#money {
  padding-top: 20px;
  padding-left: 32px;
}
