.form-post {
  background: white;
  padding: 10px 20px;
  margin-top: 150px;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  font-size: 15px;
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
}

abbr {
  display: none;
}
