.review-container {
  margin-top: 10px;
}


p {
  text-align: justify;
}

.form-post h2 {
  font-size: 30px;
  font-weight: bold;
  // margin-bottom: 30px;
  text-align: center;
}

.review-box {
  padding-top: 24px;
  padding-bottom: 0px;
  .list-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    padding-left: 20px;

    p {
      font-size: 10px;
    }
    i {
      font-size: 10px;
    }
  }
  .form-post {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border: none;
  }
}

.avatar-review {
  width: 18px;
}

#content-box {
  padding-top: 25px;
}

#username {
  font-weight: bold;
}

#btn-white {
  color: white;
}

#review_content {
  font-size: 14px;
  font-weight: lighter;
}

#review_rating {
  font-size: 12px;
  font-weight: lighter;
}

#review-form {
  padding-bottom: 10px;
}

.fa-star{
  color: $yellow;
}

.fa-star-o {
  color: $yellow;
}
