p {
  text-align: justify;
}

.form-post h2 {
  font-size: 30px;
  font-weight: bold;
  // margin-bottom: 30px;
  text-align: center;
}

.review-box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #DBDBDB;
}

#content-box {
  padding-top: 25px;
}

#username {
  font-size: 15px;
  font-weight: bold;
}

#btn-white {
  color: white;
}

#review_content {
  font-size: 14px;
  font-weight: lighter;
}

#review_rating {
  font-size: 14px;
  font-weight: lighter;
}
