<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h2>Add a review</h2>
        <%= simple_form_for [@book, @review] do |f| %>
        <%= f.input :rating, collection: (0..5) %>
        <%= f.input :content %>
        <%= f.submit "Submit your review", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
