#collection-title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  color: $gray;
}

.blue {
  background-color: #4FA5CD;
}

.panel {
  border: none !important;
  a {
    text-decoration: none;
    color: white;
  }
}

.panel-title {
  text-align: center
}
.panel-group {
  margin-bottom: 0px;
}
.middle {
  position: absolute;
  top: 50vh;
}

.panel-group p {
  font-size: 14px;
  text-decoration: none;
}

.panel-heading {
  background-color: black !important;
  color: white !important;
}

.panel-body {
  background-color: black;
  color: white;
}

