#collection-title {
  text-align: center;
  padding-top: 80px;
  color:white;
}

.btn-buy {
  margin-bottom: 27px;
}


.btn-inverted:hover {
  opacity: 0.7;
  text-decoration: none !important;
  color: white !important;
}

.read-button {
  width:70px;
}

.buy-button {
  width:70px;
}

.blue {
  background-color: #162B3A;
}

.book-list {
  flex: grow;
  h4 {
  text-align: center;

  }
}

.panel {
  border: none !important;
  a {
    text-decoration: none;
    margin-right: 20px;
  }
}

.picture {
  margin-right: 20px;
}
.panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  a {
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 600px)  {
  .smaller {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    color: $primary !important;
  }
}

.panel {
  border-radius: 2px;
}



.panel-title {
  text-align: center;
}

.panel-group {
  margin-bottom: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.middle {
  position: absolute;
  top: 50vh;
}

.panel-group p {
  font-size: 14px;
  text-decoration: none;
}

.panel-big-heading {
  background-color: $light-gray !important;
}
.panel-small-heading {
  background-color: $secondary !important;
}

.panel-body {
  background-color: white !important
}

