#registration_email {
 font-size: 14px;
 font-weight: lighter;
 background-color: white;
}

#registration_password {
 font-size: 14px;
 font-weight: lighter;
 background-color: white;
}

.help-block {
  font-size: 13px;
}
